@using Dierentuin_App.Models.AnimalDecorator
@model Dierentuin_App.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<div class="row d-flex justify-content-center my-3">
    <div class="col-11 col-md-6 border rounded-3 border-dark p-4 mb-3">
        <!-- Title -->
        <h1>Details of @Html.DisplayFor(model => model.Name)</h1>
        <!-- Info Lists -->
        <dl class="row mt-3">
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Name):
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Species):
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Species)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Category): 
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Size):
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Size)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.DietaryClass):
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.DietaryClass)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.ActivityPattern):
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.ActivityPattern)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Prey):
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Prey)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Enclosure):
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Enclosure)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.SpaceRequirement):
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.SpaceRequirement)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.SecurityRequirement):
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.SecurityRequirement)
            </dd>
            <dt class = "col-sm-6">
                @Html.DisplayNameFor(model => model.Stall):
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Stall.Name)
            </dd>
            <!-- Characteristics section -->
            <dt class="col-sm-6">
                Special Characteristics:
            </dt>
            <dd class="col-sm-6">
                @AnimalCharacteristicDecorator.GetDecoratedCharacteristics(Model)
            </dd>
        </dl>
        <!-- Behavior of the animal -->
        <div>
            <h6>Behavior</h6>
            <p>@Model.AnimalBehavior?.Behavior()</p>
        </div>
        <!-- Edit & Go Back -->
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
            <a asp-action="Index" class="text-dark">Back to List</a>
        </div>
    </div>
</div>